mat-form-field,
textarea {
  width: 100%;
}

button[mat-stroked-button] {
  margin: 1rem 0;
}

input[type="file"] {
  display: none;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
